.toggle-btn {
  padding: 10px;
  background-color: #d32323;
  border: none;
  border-radius: 10px;
  color: #fff;
  margin-bottom: 40px;
  outline: none;
  box-shadow: 0px 0px 30px rgba(256,256,256,.1);
  cursor: pointer;
}
.toggle-btn:focus {
  outline: none;
}